@model Viajes.Models.Producto
@{
    ViewData["Title"] = "Detalle";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<div class="container">
    <div class="col-sm-4 mx-auto mt-5">
        <div class="card mb-3 text-center border-dark p-3 border-3">
            <div class="card-body">
                <h5 class="text-center font-weight-bold"
                    style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    <strong>@Html.DisplayFor(model => model.Nombre)</strong>
                </h5>
                <div class="card-img-actions">
                    <img class="img-responsive" width="200" height="150"
                        src="@Html.DisplayFor(model => Model.ImageURL)" />
                </div>
                <div class="row mt-3">
                    
                    
                        <p class="card-text"><strong>descripcion:</strong></p>
                        <h1 style="font-size: 12px;">Disfruta de una experiencia única , un paraíso tropical conocido por sus playas de aguas cristalinas, su rica historia cultural y la calidez de su gente. Este viaje está diseñado para aquellos que buscan relajación, aventura y cultura en un solo destino. Desde las playas de arena blanca hasta las antiguas ruinas mayas, vivirás momentos inolvidables rodeado de belleza natural.</h1>
                   
                </div>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3 text-center">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <h5 class="text-center font-weight-bold"
                            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                            <strong>@Html.DisplayFor(model => model.Nombre)</strong>
                        </h5>
                        <h6 class="card-title"
                            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Tipo de
                            producto: @Html.DisplayFor(model => model.Categoria)
                        </h6>
                        <h5 class="card-title">Precio $@Html.DisplayFor(model => model.Precio)</h5>
                    </div>
                    <div class="col-md-6 text-right">
                        <h5>
                            <span class="fa fa-star checked" style="color: white;"></span>
                            <span class="fa fa-star checked" style="color: white;"></span>
                            <span class="fa fa-star checked" style="color: white;"></span>
                            <span class="fa fa-star checked" style="color: white;"></span>
                            <span class="fa fa-star checked" style="color: white;"></span>
                        </h5>
                         <a class="btn btn-primary" asp-controller="Carrito" asp-action="Add" asp-route-id="@Model.Id">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
