@model dynamic;
@using System.Collections.Generic;
@{
    ViewData["Title"] = "Carrito";
    IEnumerable<Viajes.Models.ItemCarrito> listItemsCarrito = new List<ItemCarrito>();
    listItemsCarrito = @Model.elementosCarrito;
    Decimal montoTotal = @Model.montoTotal;
}
<h1>@ViewData["Title"]</h1>
<h1>Costo total S/. @Model.montoTotal</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
               Cantidad
            </th>
            <th>
                Precios
            </th>
            <th>
                Sub Total
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in listItemsCarrito) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                S/. @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>S/. @(item.Precio * item.Cantidad)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>